<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.ogm.datastore.provider">mongodb</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.ogm.datastore.host">localhost</property>
        <property name="hibernate.ogm.mongodb.port">27017</property>
        <property name="hibernate.ogm.datastore.database">BikeStoresJPA</property>
        <property name="hibernate.ogm.datastore.create_database">true</property>
    </session-factory>
</hibernate-configuration>